<!DOCTYPE html>
<html lang="en">
<head>
    <title>Formulir</title>
</head>
<body>
    <h1>FORMULIR CPNS</h1>
    <form action="http://127.0.0.1:5000/dataku" method = "post" enctype="multipart/form-data">
        <p>Nama : <input name="namaku" type="text" placeholder="Ketik nama ..."></p>
        <p>Usia : <input name="usiaku" type="number" placeholder="Ketik usia ..."></p>
        <p>Upload gambar: <input name="fotoku" type="file"></p>
        <p><input type="submit" value="Kirim  Data"></p>
    </form>
</body>
</html>